{%  extends 'main.html' %}
{% load static %}
{% block content %}


<style>
	.back-pic{
		width: 100%;
		height: 400px;
		filter: brightness(50%);
		border-radius: 40px;

	}
	.centered {
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
	}

	.container-pic {
  		position: relative;
  		text-align: center;
  		color: white;
	}

	.offer-picture{
		width: 100%;
		border-radius: 10px;
		height: 100%;
	}

	.karta{
		height: 400px;
	}

</style>


<div class="container-pic mt-2">

	<img class="back-pic" src="{% static 'images/pictures/picture.jpg' %}"/>
	<div class="centered"><h1>WELCOME TO BOOKHUNTERS</h1></div>
</div>

<br>


<div class="row">

	<div class="card card-body" style="text-align: center; border-radius: 30px;">
		<h2>Filter</h2>
	</div>
	<div class="card card-body">
		<form method="get">

			Title: {{filter.form.title}}
			Genre: {{filter.form.genre}}
			Starting Price: {{filter.form.start_price}}
			Ending price: {{filter.form.end_price}}
			<button class="btn btn-primary" type="submit">
				Search
			</button>
		</form>
	</div>

</div>

		<div class="row" style="text-align: center;">

			{% for book in offers %}

			<div class="col-md-4 col-lg-2">
		
				<div class="card card-body mt-2 karta" style="border-radius: 25px">
					<img class="offer-picture" src="{{book.front_picture.url}}">
					<p class="mt-2"><b>{{book.title}}</b></p>
					<p>Genre: {{book.genre}}</p>
					<p> {{book.price}} zł</p>
					<a href="{% url 'offer_info' id=book.id %}"><button type="button" class="btn btn-success">Check</button></a>
				</div>
			
			</div>
			{% endfor %}

		</div>


<script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[0].placeholder='Title..';
		form_fields[1].placeholder='0';
		form_fields[2].placeholder='100';



</script>




{% endblock %}


<!-- 

	<div class="row">
		<div class="col-md-5">
			<div class="card card-body">
				<p>jebany paragraf</p>
			</div>
		</div>
	</div>
	
-->
