{%  extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{title}} {% endblock %}
{% block content %}


			<form enctype="multipart/form-data" method="POST">
			<div>
            <div class="container cont2">
                
                <div class="col-lg-6 offset-lg-3">
                    <h1 class="heder">Add new offer!</h1>
					<hr>
                    <div class="form-group">
                        <form method="POST">
                            {% csrf_token %}
    
                                {{ form.title|as_crispy_field }}
        
                            </div>
                            <div class="form-group">
    
                                {{ form.desc|as_crispy_field}}
                                
                            </div>
                            <div class="form-group">
    
                                {{ form.price|as_crispy_field }}
    
                            </div>
                            <div class="form-group">
    
                                {{ form.front_picture|as_crispy_field }}
    
                            </div>
                            <div class="form-group">
    
                                {{ form.back_picture|as_crispy_field }}
    
                            </div>
                            <div class="form-group">
    
                                {{ form.genre|as_crispy_field }}
    
                            </div>
				
				   <button type="submit" class="btn btn-primary">Add book</button>
			</form>



{% endblock %}