{%  extends 'main.html' %}
{% load static %}
{% block title %}{{title}} profile{% endblock %}
{% block content %}



<div class="row" style="text-align:center">
    <h1>PENDING REQUESTS FOR {{buyer.id_offer.id}} </h1>

    {% for buyer in buyers %}

	    <div class="col-md-3">
    
            <div class="card card-body">
            
                <a href="{% url 'view_profile' username=buyer.id_intrested.username %}">{{buyer.id_intrested.username}}</a>
                <p> {{buyer.message}} {{ buyer.id }}</p>
                <a href="{% url 'sell' id_offer=buyer.id_offer.id  id_user=buyer.id_intrested.id %}">Sell</a>
            </div>
        
        </div>
    {% endfor %}


</div>



{% endblock %}


