{% extends 'incl.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %} {{ title }} {% endblock %}
{% block style %} {% static 'css/styl.css' %} {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

    



<form method="POST" enctype="multipart/form-data">

    <div class="anus">
        <div class="container cont2">
            
            <div class="col-lg-6 offset-lg-3">
                <h1 class="heder">Register</h1>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}

                            {{ form.first_name|as_crispy_field }}
    
                        </div>
                        <div class="form-group">

                            {{ form.last_name|as_crispy_field}}
                            
                        </div>
                        <div class="form-group">

                            {{ form.username|as_crispy_field }}

                        </div>
                        <div class="form-group">

                            {{ form.email|as_crispy_field }}

                        </div>
                        <div class="form-group">

                            {{ form.phone_number|as_crispy_field }}

                        </div>
                        <div class="form-group">

                            {{ form.password1|as_crispy_field }}

                        </div>
                        <div class="form-group">

                            {{ form.password2|as_crispy_field }}

                        </div>
                        <!-- 

                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <a href="{% url 'mainpage' %}">Powrot</a>
                </div>
            </div>
        </div>
    </div>

-->
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 





<!--


<div class="anus">
    <div class="container cont2">
        
        <div class="col-lg-6 offset-lg-3">
            <h1 class="heder">Register</h1>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                        <label for="InputFirstName">First name</label>
                        <input class="form-control" id="InputFirstName" type="text" name="first_name" placeholder="First name">

                    </div>
                    <div class="form-group">
                        <label for="InputLastName">Last name</label>
                        <input class="form-control" id="InputPassword" type="text" name="last_name" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="InputUsername">Username</label>
                        <input type="text" class="form-control" id="InputUsername" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Email adress</label>
                        <input type="email" class="form-control" id="InputPassword" type="text" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="InputPhoneNumber">Contact number</label>
                        <input type="text" class="form-control" id="InputPhoneNumber" type="text" name="phone_number" placeholder="Phone number">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword1">Password</label>
                        <input type="password" class="form-control" id="InputPassword" type="password" name="password1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword2">Password confirmation</label>
                        <input type="password" class="form-control" id="InputPassword" type="password" name="password2" placeholder="Password confirmation">
                    </div>

                    {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <a href="{% url 'mainpage' %}">Powrot</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

-->